.video__iframe {
    position: relative;
    width: 515px;
    height: 316px;
    transform: translate(0px, 60px);
    border: none;
  }
  /* ! Использование отрицательных координатов для подкладыния последующего блока - плохая практика. Есть более безопасный способ - использование CSS-трансформаций. 
  Подробнее: https://webref.ru/css/value/translate  */